* {
  padding: 0;
  margin: 0;
  font-family: Lato, Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
body {
  background: linear-gradient(#f2055c6b, #340040a2);
}

/* navigation bar */

.navbar {
    list-style-type: none;
    width: 100%;
    overflow: hidden;
    background-color: #340040;
  }
  
  .navbar li{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
  }
  
  .navbar li:hover {
    background-color: #07F2F2;
    color:#340040;
  }

  /* logo */

#logo-lion {
    width: 300px;
    padding: 10px;
    background-color: #07F2F2;
}
#lion {
  padding: 0 30px;
  padding-top: 30px;
  margin-left: 20%;
}

/* table */

#clubs {
    margin: 18px;
    padding-left: 8px;
    align-content: center;
    font-size: larger;
}
#clubs h1 {
  margin-left: 5%;
}
h1 {
  color: #340040;
  padding-left: 1rem;
}
#logo {
    height: 30px;
    padding: 8px;
    align-content: center;
}


#stand {
    border-collapse: collapse;
    width: 70%;
    text-align: left;
    text-indent: 10%;
  }
  
  #stand td, #stand th {
    padding: 5px;
    align-content: left;
  }
  
  #stand tr:nth-child(even){background-color: #07f2f271;}
  #stand tr:nth-child(odd){background-color: #dde50977;}
  
  #stand tr:hover {background-color: #ddd;}
  
  #stand th {
    padding: 12px;
    background-color:#340040 ;
    font-size: larger;
    color: #07F2F2;
    min-width: 20px;
    max-width: 30px;
  }

  #stand td {
    color:#340040;
    font-size: large;
}