* {
    padding: 0;
    margin: 0;
    font-family: Lato, Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  .navbar {
      list-style-type: none;
      width: 100%;
      overflow: hidden;
      background-color: #340040;
    }
    
    .navbar li{
      display: inline-flex;
      flex-direction: row;
      flex-wrap: wrap;
      color: rgb(255, 255, 255);
      text-align: center;
      padding: 14px 25px;
      text-decoration: none;
    }
    
    .navbar li:hover {
      background-color: #07F2F2;
      color:#340040;
    }
  
  #logo-lion {
      width: 300px;
      padding: 10px;
      background-color: #07F2F2;
  }
  #lion {
    padding: 0 30px;
    padding-top: 30px;
  }
  #statistics {
      margin: 18px;
      padding: 8px;
      align-content: center;
      font-size: larger;
  }
  #statistics h1 {
    margin-left: 10%;
  }

  #logo {
      width: 30px;
      padding: 8px;
      align-content: center;
  }
  
  #stand {
      border-collapse: collapse;
      width: 40%;
      text-align: center;
    }
    
    #stand td, #stand th {
      padding: 5px;
      align-content: center;
    }
    
    #stand tr:nth-child(even){background-color: #07f2f271;}
    #stand tr:nth-child(odd){background-color: #dde50977;}
    
    #stand tr:hover {background-color: #ddd;}
    
    #stand th {
      padding-top: 12px;
      padding-bottom: 12px;
      background-color:#340040 ;
      color: #07F2F2;
      min-width: 20px;
      max-width: 30px;
    }
    
    #stand td {
      color:#340040;
      font-size: large;
  }